@import "common.style.scss";

.mega-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 18rem;
}

h2 {
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    color: #333333;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

input:first-child {
    padding: 0.7rem 1rem;
    border-radius: 0.5rem;
    border: solid 0.1rem #cccccc;
    outline: none;
}

input:last-child {
    background-color: #5c9dff;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.05s ease-in-out;
}

input:last-child:hover {
    background-color: #4d94ff;
}